<a href="https://colab.research.google.com/github/yariasm54/Angular4_0/blob/master/Saber11_Ingles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as Pandas

#read data from Datos Abiertos
documentAddress = 'https://www.datos.gov.co/resource/tkn6-e4ic.json'
saber11DataFrame = Pandas.read_json(documentAddress)
saber11DataFrame.head(2)

  estu_tipodocumento  ... estu_generacion_e
0                 TI  ...                NO
1                 CC  ...                NO

[2 rows x 82 columns]

Vamos a dividir las variables en varios tipos. Dependiendo si son variables binarias o personales ordinales (para efectos de una clasificación en árbol más adelantes)

In [0]:
#variables en archivo
variablesPersonalesBinarias = ['fami_tieneinternet', 'fami_tieneserviciotv',\
                     'fami_tienecomputador','fami_tienehornomicroogas',\
                     'fami_tieneautomovil', 'fami_tieneconsolavideojuegos']

variablesPersonalesOrdinales = ['fami_estratovivienda', \
                       'fami_educacionpadre','fami_educacionmadre', 'fami_trabajolaborpadre',\
                      'fami_trabajolabormadre','fami_numlibros', 'fami_comelechederivados',\
                      'fami_comecarnepescadohuevo', \
                      'fami_situacioneconomica',\
                      'estu_dedicacioninternet', 'estu_horassemanatrabaja',\
                      'estu_nse_individual']

#variables del examen
variablesExamen = ['percentil_lectura_critica', 'desemp_lectura_critica',\
                   'percentil_matematicas', 'desemp_matematicas',\
                   'percentil_c_naturales', 'desemp_c_naturales',\
                   'percentil_sociales_ciudadanas',\
                   'desemp_sociales_ciudadanas',  'percentil_ingles',\
                   'percentil_global','estu_inse_individual']
#variables de puntajes
puntajesExamen = ['punt_matematicas','punt_c_naturales','punt_sociales_ciudadanas','punt_ingles','punt_lectura_critica']

#variables del colegio
variablesColegio = ['cole_naturaleza','cole_bilingue','cole_caracter','cole_genero','cole_calendario','cole_jornada']
#variables objetivo aqui
variableObjetivo = ['desemp_ingles','punt_global']

Analizar variables para ver consistencia e inconsistencia

In [0]:
for varBinaria in variablesPersonalesBinarias:
  resultados = saber11DataFrame[varBinaria].value_counts()
  print(varBinaria)
  print(resultados)

fami_tieneinternet
Si    770
No    152
-      78
Name: fami_tieneinternet, dtype: int64
fami_tieneserviciotv
Si    795
No    128
-      77
Name: fami_tieneserviciotv, dtype: int64
fami_tienecomputador
Si    739
No    209
-      52
Name: fami_tienecomputador, dtype: int64
fami_tienehornomicroogas
Si    665
No    280
-      55
Name: fami_tienehornomicroogas, dtype: int64
fami_tieneautomovil
No    479
Si    465
-      56
Name: fami_tieneautomovil, dtype: int64
fami_tieneconsolavideojuegos
No    515
Si    426
-      59
Name: fami_tieneconsolavideojuegos, dtype: int64

Analisamos las variables ordinales

In [0]:
for varOrdinal in variablesPersonalesOrdinales:
  resultados = saber11DataFrame[varOrdinal].value_counts()
  print(varOrdinal)
  print(resultados)

fami_estratovivienda
Estrato 3      240
Estrato 2      209
Estrato 6      135
Estrato 4      123
Estrato 1      100
Estrato 5       92
-               81
Sin Estrato     20
Name: fami_estratovivienda, dtype: int64
fami_educacionpadre
Educación profesional completa          205
Postgrado                               155
Secundaria (Bachillerato) completa      152
Primaria incompleta                      95
-                                        76
Técnica o tecnológica completa           66
Secundaria (Bachillerato) incompleta     62
No sabe                                  55
Primaria completa                        52
Ninguno                                  40
Educación profesional incompleta         16
Técnica o tecnológica incompleta         14
No Aplica                                12
Name: fami_educacionpadre, dtype: int64
fami_educacionmadre
Educación profesional completa          239
Secundaria (Bachillerato) completa      174
Postgrado                               133
Primaria incompleta                      88
-                                        77
Secundaria (Bachillerato) incompleta     73
Técnica o tecnológica completa           72
Primaria completa                        57
Educación profesional incompleta         29
Ninguno                                  22
Técnica o tecnológica incompleta         21
No sabe                                  11
No Aplica                                 4
Name: fami_educacionmadre, dtype: int64
fami_trabajolaborpadre
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                       195
No aplica                                                                                                96
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                             96
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                            88
No sabe                                                                                                  72
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc     69
Es agricultor, pesquero o jornalero                                                                      62
Es operario de máquinas o conduce vehículos (taxita, chofer)                                             59
Trabaja en el hogar, no trabaja o estudia                                                                57
-                                                                                                        54
Pensionado                                                                                               43
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                               42
Es vendedor o trabaja en atención al público                                                             40
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                   27
Name: fami_trabajolaborpadre, dtype: int64
fami_trabajolabormadre
Trabaja en el hogar, no trabaja o estudia                                                               290
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                       181
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                   81
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc     70
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                             60
Es vendedor o trabaja en atención al público                                                             60
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                               56
No aplica                                                                                                52
-                                                                                                        48
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                            28
Es agricultor, pesquero o jornalero                                                                      24
No sabe                                                                                                  20
Es operario de máquinas o conduce vehículos (taxita, chofer)                                             17
Pensionado                                                                                               13
Name: fami_trabajolabormadre, dtype: int64
fami_numlibros
0 A 10 LIBROS        259
26 A 100 LIBROS      233
11 A 25 LIBROS       213
MÁS DE 100 LIBROS    205
-                     90
Name: fami_numlibros, dtype: int64
fami_comelechederivados
Todos o casi todos los días     455
3 a 5 veces por semana          229
1 o 2 veces por semana          191
-                                83
Nunca o rara vez comemos eso     42
Name: fami_comelechederivados, dtype: int64
fami_comecarnepescadohuevo
Todos o casi todos los días     555
3 a 5 veces por semana          192
1 o 2 veces por semana          140
-                                79
Nunca o rara vez comemos eso     34
Name: fami_comecarnepescadohuevo, dtype: int64
fami_situacioneconomica
Igual    581
Mejor    255
Peor     110
-         54
Name: fami_situacioneconomica, dtype: int64
estu_dedicacioninternet
Entre 1 y 3 horas        347
Más de 3 horas           246
Entre 30 y 60 minutos    161
30 minutos o menos       125
-                         81
No Navega Internet        40
Name: estu_dedicacioninternet, dtype: int64
estu_horassemanatrabaja
0                      567
Menos de 10 horas      136
Más de 30 horas        129
Entre 11 y 20 horas     81
-                       50
Entre 21 y 30 horas     37
Name: estu_horassemanatrabaja, dtype: int64
estu_nse_individual
4.0    350
3.0    298
2.0    208
1.0     86
Name: estu_nse_individual, dtype: int64

Vamos a retirar de la base de datos todos los '-'

In [0]:
variablesALimpiar = variablesPersonalesBinarias + variablesPersonalesOrdinales
registrosConProblemas = []
for indice in range(len(saber11DataFrame)):
  contieneMenos = False
  for var in variablesALimpiar:
    contieneMenos = contieneMenos or saber11DataFrame.iloc[indice][var] == '-'
  if contieneMenos:
    registrosConProblemas.append(indice)
print('Registros con problemas: ', len(registrosConProblemas))

Registros con problemas:  148

In [0]:
saber11DataFrame = saber11DataFrame.drop(saber11DataFrame.index[registrosConProblemas])

In [0]:
saber11DataFrame

    estu_tipodocumento  ... estu_generacion_e
0                   TI  ...                NO
1                   CC  ...                NO
2                   TI  ...                NO
3                   CC  ...                NO
4                   CC  ...                NO
..                 ...  ...               ...
995                 TI  ...                NO
996                 TI  ...                NO
997                 TI  ...                NO
998                 TI  ...                NO
999                 TI  ...                NO

[852 rows x 82 columns]

Subdividir variables

In [0]:
caractaristicas = ['fami_tieneinternet','fami_numlibros','estu_nse_individual']
variableObjetivo = 'desemp_ingles'
subSaber11DataFrame = saber11DataFrame[caractaristicas + [variableObjetivo]]
subSaber11DataFrame

    fami_tieneinternet     fami_numlibros  estu_nse_individual desemp_ingles
0                   Si      0 A 10 LIBROS                  3.0            A1
1                   Si     11 A 25 LIBROS                  2.0            A-
2                   Si      0 A 10 LIBROS                  2.0            A1
3                   Si      0 A 10 LIBROS                  3.0            A2
4                   Si  MÁS DE 100 LIBROS                  4.0            B1
..                 ...                ...                  ...           ...
995                 No      0 A 10 LIBROS                  1.0            A1
996                 Si      0 A 10 LIBROS                  3.0            A2
997                 Si      0 A 10 LIBROS                  4.0            A2
998                 Si      0 A 10 LIBROS                  4.0            A-
999                 No     11 A 25 LIBROS                  3.0            A1

[852 rows x 4 columns]

Vamos a reemplazar Si y No por numeros 1 y 0

In [0]:
subSaber11DataFrame['fami_tieneinternet'] = subSaber11DataFrame['fami_tieneinternet'].map({'Si':1,'No':0})
subSaber11DataFrame.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   fami_tieneinternet     fami_numlibros  estu_nse_individual desemp_ingles
0                   1      0 A 10 LIBROS                  3.0            A1
1                   1     11 A 25 LIBROS                  2.0            A-
2                   1      0 A 10 LIBROS                  2.0            A1
3                   1      0 A 10 LIBROS                  3.0            A2
4                   1  MÁS DE 100 LIBROS                  4.0            B1

In [0]:
def generarDiccionarioCategorias(nomVariable):
  valores = subSaber11DataFrame[nomVariable].value_counts()
  print(valores)
  for valor in valores.iteritems():
    print(valor[0], 'tiene', valor[1])
diccionarioCantidadDeLibros = {
    '0 A 10 LIBROS' : 1,
    '11 A 25 LIBROS' : 2,
    '26 A 100 LIBROS' : 3,
    'MÁS DE 100 LIBROS' : 4
}
diccionarioNivelesDeIngles = {
    'A-' : 1,
    'A1' : 2,
    'A2' : 3,
    'B1' : 4,
    'B+' : 5,
}
generarDiccionarioCategorias('desemp_ingles')

A-    302
B+    201
A1    150
B1    117
A2     82
Name: desemp_ingles, dtype: int64
A- tiene 302
B+ tiene 201
A1 tiene 150
B1 tiene 117
A2 tiene 82

In [0]:
subSaber11DataFrame['fami_numlibros'] = subSaber11DataFrame['fami_numlibros'].map(diccionarioCantidadDeLibros)
subSaber11DataFrame.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   fami_tieneinternet  fami_numlibros  estu_nse_individual desemp_ingles
0                   1               1                  3.0            A1
1                   1               2                  2.0            A-
2                   1               1                  2.0            A1
3                   1               1                  3.0            A2
4                   1               4                  4.0            B1

In [0]:
subSaber11DataFrame['desemp_ingles'] = subSaber11DataFrame['desemp_ingles'].map(diccionarioNivelesDeIngles)
subSaber11DataFrame.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   fami_tieneinternet  fami_numlibros  estu_nse_individual  desemp_ingles
0                   1               1                  3.0              2
1                   1               2                  2.0              1
2                   1               1                  2.0              2
3                   1               1                  3.0              3
4                   1               4                  4.0              4

Agregar codigo desde https://www.datacamp.com/community/tutorials/decision-tree-classification-python

In [0]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

## Modificar el siguiente codigo:

X = subSaber11DataFrame[caractaristicas] # Features
y = subSaber11DataFrame[variableObjetivo] # Target variable

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [0]:

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

print(clf)
print(y_pred)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
[1 1 5 1 1 1 1 5 1 1 5 1 1 5 1 1 1 1 5 5 5 1 1 4 1 1 5 1 2 1 1 5 1 1 1 1 5
 1 5 1 1 1 1 5 1 1 1 5 1 5 5 1 1 1 5 1 5 1 2 5 4 1 1 1 5 1 1 5 1 5 1 4 5 5
 5 5 5 5 1 1 5 1 1 5 1 1 1 1 1 1 1 1 5 1 1 1 1 1 5 5 5 1 1 1 5 1 1 1 1 4 1
 1 1 5 1 5 5 1 5 5 1 2 5 4 1 1 1 4 5 1 1 1 1 1 5 5 5 5 5 5 2 1 1 1 1 5 3 1
 1 1 5 5 5 5 5 1 3 1 1 1 5 1 5 5 4 1 1 1 1 1 5 1 1 5 5 5 1 1 5 1 1 3 1 1 1
 5 1 4 1 5 1 1 1 1 5 1 5 1 1 5 1 1 1 5 1 2 1 5 5 5 5 1 1 4 1 1 5 5 1 1 5 1
 5 1 5 1 1 5 5 5 1 1 3 5 1 5 5 5 1 5 5 5 1 5 1 4 5 5 1 1 1 1 5 1 1 5]